/*-----------------------------------*\
  #FOOTER - Testing
\*-----------------------------------*/

.footer {
	background-color: lightgrey;
	padding-block: 60px 100px;
	color: var(--light-gray);
  }
  
  .footer-brand .footer-text { margin-block: 20px; }
  
  .footer .social-list { color: var(--white); }
  
  .footer-list-title {
	color: var(--white);
	margin-block-end: 16px;
  }
  
  .footer-link {
	padding-block: 4px;
	transition: var(--transition-1);
  }
  
  .footer-link:is(:hover, :focus-visible) { color: var(--violet-blue-crayola); }
  
  *,
  *::before,
  *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

   /**
   * REUSED STYLE
   */
   .containered { padding-inline: 16px; }

   .containered { max-width: 720px; }

   .grid-list { grid-template-columns: 1fr 1fr; }
 

   @media (min-width: 575px) {

    /**
     * REUSED STYLE
     */
  
    .containered {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }

    a {
        color: inherit;
        text-decoration: none;
      }
      
  
  
  
    /**
     * PROJECTS
     */
  
    .project-card .card-content { padding: 40px; }
  
  }
  
  .grid-list {
	display: grid;
	gap: 25px;
  }
  .containered { max-width: 720px; }

	.containered .grid-list { grid-template-columns: 1fr 1fr; }

	.containered { padding-inline: 16px; }

    .h4 { font-size: var(--fs-4); }


  
  

